{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header brand-header">
                <h5 class="mb-0">✏️ Editar Producto</h5>
            </div>
            <div class="card-body">
                <form action="/editar_producto/{{ producto['id'] }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nombre del Producto</label>
                        <input type="text" class="form-control fw-bold" name="nombre" value="{{ producto['nombre'] }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Precio de Venta ($ USD)</label>
                        <input type="number" step="0.01" class="form-control fw-bold" name="precio" value="{{ producto['precio_venta'] }}" required>
                    </div>
                    
                    <div class="d-flex gap-2">
                        <a href="/productos" class="btn btn-secondary fw-bold w-50">Cancelar</a>
                        <button type="submit" class="btn btn-success fw-bold w-50">💾 Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
